@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron home-heading">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a place where people are encouraged to come and learn
        </p>
    </div>
    <div class="col-md-4">
        <h2>Amazing Faculty</h2>
        <p>Every professor is an expert in the field. They really care about helping the students succeed.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Learn Cool Stuff</h2>
        <p>We have classes on every topic under the sun. This is the place to come if you want to learn things.</p>
    </div>
</div>